html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, img, ul, ol, li, form, input, button {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

@font-face {
  font-family: Light;
  src: url(./assets/RobotoCondensed-Light.ttf);
}

@font-face {
  font-family: Regular;
  src: url(./assets/RobotoCondensed-Regular.ttf);
}

@font-face {
  font-family: Bold;
  src: url(./assets/RobotoCondensed-Bold.ttf);
}

body {
  background-color: black;
  color: white;
  font-family: Light;
}

body {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  body {
    font-size: 18px;
    line-height: 22px;
  }
}

@media (min-width: 1440px) {
  body {
    font-size: 20px;
    line-height: 26px;
  }
}

a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}